aiohttp==3.6.3
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.4
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decouple==0.0.7
discord==1.0.1
discord.py==1.5.1
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.5
django-crispy-forms==1.9.2
filelock==3.0.12
gunicorn==20.0.4
idna==2.10
isort==4.3.21
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.6.1
matplotlib==3.3.2
mccabe==0.6.1
multidict==4.7.6
multitasking==0.0.9
numpy==1.19.2
pandas==1.1.4
Pillow==7.2.0
pycodestyle==2.6.0
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
requests==2.24.0
scipy==1.5.4
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
toml==0.10.1
Unipath==1.1
urllib3==1.25.10
virtualenv==20.0.35
wallstreet==0.3
whitenoise==5.2.0
wrapt==1.12.1
yarl==1.5.1
yfinance==0.1.55
